
{% if authors is empty or authors is null %}
<h1>tableau non trouvé</h1>
{% else %}

<table border="1">
<tr>

<th>Id</th>
<th>Username</th>
<th>image</th>
<th>email</th>
<th>Nb_Books</th>
</tr>

{% for author in authors %}
<tr>
<td>{{author.id}}</td>
<td>{{author.username|upper}}</td>
<td><img width=200px height=200px src="{{asset(author.picture)}}" alt="taha"></td>
<td>{{author.email}}</td>
<td>{{author.nb_books}}</td>
</tr>
{% endfor %}

</table>

{% endif %}


<h1>le nobre des autheurs est {{authors|length}}</h1>